.chat-display-messages-bubble {
	border-radius: 3px;
	margin: 16px 0;
	padding: 16px 16px 8px 16px;
	display: flex;
	flex-direction: column;

	.author,
	.timestamp {
		color: #ccc;
		font-size: 14px;
	}
}

.sent-bubble {
	justify-content: flex-end;
	align-items: flex-end;
	background: rgb(255, 252, 227);
	border: 1px rgb(255, 252, 227) solid;
}

.received-bubble {
	float: left;
	border: 1px #ccc solid;
}
