.login {
	display: flex;
	width: 25%;
	height: 15%;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;

	.title {
		font-size: 18px;
	}

	.input {
		margin: 8px 0;
		border-radius: 2px;
		border: 1px #ccc solid;
		padding: 8px;
	}

	.custom-button {
		width: 30%;
		height: 25%;
	}
}
