.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh; }

.send-message-container {
  background: #34b7eb;
  border-radius: 0 0 5px;
  height: 10%;
  width: 100%;
  padding: 8px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.textarea-input {
  padding: 8px 8px;
  resize: none;
  width: 85%;
  height: 100%;
  margin-right: 8px;
  border: white;
  border-radius: 5px; }

.custom-button {
  height: 100%;
  width: 15%;
  background: #f7b14f;
  border-radius: 5px;
  border: #f7b14f;
  color: white; }

.chat-display-messages-list {
  display: flex;
  flex-direction: column;
  border-radius: 5px 5px 0 0;
  border: 1px #ccc solid;
  height: 90%;
  padding: 0 24px 16px 24px;
  position: relative; }

.chat-display-messages-bubble {
  border-radius: 3px;
  border: 1px #ccc solid;
  margin: 16px 0;
  padding: 16px 16px 8px 16px;
  max-width: 70%;
  display: flex;
  flex-direction: column; }
  .chat-display-messages-bubble .author,
  .chat-display-messages-bubble .timestamp {
    color: #ccc;
    font-size: 14px; }

.sent-bubble {
  border: 1px red solid; }

.received-bubble {
  float: left; }
