.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh; }

.send-message-container {
  background: #34b7eb;
  border-radius: 0 0 5px;
  height: 10%;
  width: 100%;
  padding: 8px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.textarea-input {
  padding: 8px 8px;
  resize: none;
  width: 85%;
  height: 100%;
  margin-right: 8px;
  border: white;
  border-radius: 5px; }

.custom-button {
  height: 100%;
  width: 15%;
  background: #f7b14f;
  border-radius: 5px;
  border: #f7b14f;
  color: white; }

.chat-display-messages-list {
  display: flex;
  flex-direction: column;
  border-radius: 5px 5px 0 0;
  border: 1px #ccc solid;
  height: 90%;
  padding: 0 24px 16px 24px;
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: visible; }

.chat-display-messages-bubble {
  border-radius: 3px;
  margin: 16px 0;
  padding: 16px 16px 8px 16px;
  display: flex;
  flex-direction: column; }
  .chat-display-messages-bubble .author,
  .chat-display-messages-bubble .timestamp {
    color: #ccc;
    font-size: 14px; }

.sent-bubble {
  justify-content: flex-end;
  align-items: flex-end;
  background: #fffce3;
  border: 1px #fffce3 solid; }

.received-bubble {
  border: 1px #ccc solid; }

.login {
  display: flex;
  width: 25%;
  height: 15%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }
  .login .title {
    font-size: 18px; }
  .login .input {
    margin: 8px 0;
    border-radius: 2px;
    border: 1px #ccc solid;
    padding: 8px; }
  .login .custom-button {
    width: 30%;
    height: 25%; }
